In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

## 한글 폰트 사용
# 폰트 설정
mpl.rc('font', family='Malgun Gothic') #family에 사용할 폰트를 넣음
# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

## 서울시 범죄 현황

In [2]:
pol = pd.read_csv('../static/data/pol_서울시범죄현황.csv')
pol.head()

    구별  발생합계  검거합계  살인발생  살인검거  강도발생  강도검거  강간발생  강간검거  절도발생  절도검거  폭력발생  폭력검거
0  종로구  3846  4117     4     5     7     8   238  1143  1515  1069  2082  1892
1   중구  4327  2804     2     1     6     5   195   115  2202  1050  1922  1633
2  용산구  3313  2611     3     3     3     4   272   237   999   544  2036  1823
3  성동구  2512  1838     6     5     9    10   133    96   970   511  1394  1216
4  광진구  4011  2816     4     5     6     5   273   213  1875  1008  1853  1585

In [3]:
# index=False : 인덱스 없이 저장
# pol.to_csv('../static/results/pol_서울시범죄현황.csv', index=False)

## 서울시 인구 현황

In [4]:
pop = pd.read_csv('../static/data/pop_인구현황.csv')
pop.head()

    구별     인구수     내국인    외국인    고령자     외국인비율      고령자비율
0  종로구  159842  149952   9890  28396  6.187360  17.765043
1   중구  135321  125800   9521  24265  7.035863  17.931437
2  용산구  244953  229786  15167  39995  6.191800  16.327622
3  성동구  302695  295591   7104  45372  2.346917  14.989346
4  광진구  361923  348064  13859  50047  3.829268  13.828079

### Pivot_tabel을 이용해서 데이터 정리

In [5]:
crime_anal = pd.read_csv('../static/data/crime_anal.csv', index_col='구별')
crime_anal.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,666,5,5,2970,3658,84.384384,100.000000,60.000000,45.084175,86.358666
강동구,180,15,6,1650,2163,86.111111,93.333333,83.333333,54.969697,86.638927
강북구,176,3,6,1229,2424,82.386364,66.666667,100.000000,54.027665,91.006601
강서구,306,3,8,2050,2557,83.986928,100.000000,100.000000,52.536585,85.881893
관악구,408,10,13,2223,2674,82.107843,100.000000,76.923077,48.807917,88.593867

### cctv 설치현황

In [6]:
re_cctv = pd.read_csv('../static/data/re_cctv.csv', index_col='구별')
re_cctv.head()

       소계  2015년 이전  2016년  2017년  2018년
구별
강남구  5221    3431.0    765    577    448
강동구  1879    1027.0    194    273    385
강북구  1265     691.0    254      1    319
강서구  1617     909.0    190    264    254
관악구  3985    2001.0    619    694    671

In [7]:
pop_sv = pd.read_csv('../static/data/pop_sv.csv', index_col='구별')
pop_sv.head()

        인구수     내국인    외국인    고령자
구별
종로구  159842  149952   9890  28396
중구   135321  125800   9521  24265
용산구  244953  229786  15167  39995
성동구  302695  295591   7104  45372
광진구  361923  348064  13859  50047

In [8]:
crime_anal_norm = pd.read_csv('../static/data/crime_anal_norm.csv', index_col='구별')
crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄,검거
구별,,,,,,,,,,,,,,
강남구,1.000000,0.285714,0.333333,1.000000,1.000000,84.384384,100.000000,60.000000,45.084175,86.358666,544085,5221,3.619048,375.827225
강동구,0.156250,1.000000,0.416667,0.394495,0.385785,86.111111,93.333333,83.333333,54.969697,86.638927,462275,1879,2.353197,404.386402
강북구,0.149306,0.142857,0.416667,0.201376,0.493016,82.386364,66.666667,100.000000,54.027665,91.006601,313550,1265,1.403221,394.087296
강서구,0.375000,0.142857,0.583333,0.577982,0.547658,83.986928,100.000000,100.000000,52.536585,85.881893,589536,1617,2.226830,422.405406
관악구,0.552083,0.642857,1.000000,0.657339,0.595727,82.107843,100.000000,76.923077,48.807917,88.593867,514555,3985,3.448007,396.432704

In [9]:
# 검거율의 합계인 검거 항목 최고 값을 100으로 한정하고 그 값으로 정렬
tmp_max = crime_anal_norm['검거'].max()
crime_anal_norm['검거'] = crime_anal_norm['검거'] / tmp_max * 100
crime_anal_nrom_sort = crime_anal_norm.sort_values(by='검거', ascending=False)
crime_anal_nrom_sort.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄,검거
구별,,,,,,,,,,,,,,
종로구,0.256944,0.428571,0.250000,0.332569,0.352506,100.000000,100.0,100.0,70.561056,90.874159,159842,1471,1.620591,100.000000
은평구,0.180556,0.000000,0.166667,0.355505,0.366886,83.505155,100.0,100.0,62.428115,87.718470,485842,2962,1.069613,93.978900
성북구,0.149306,0.142857,0.166667,0.133945,0.159819,73.863636,100.0,100.0,67.560074,90.266584,449871,3003,0.752594,93.553825
용산구,0.315972,0.142857,0.166667,0.095872,0.333607,87.132353,100.0,100.0,54.454454,89.538310,244953,2063,1.054975,93.431343
도봉구,0.000000,0.285714,0.000000,0.000000,0.000000,92.222222,100.0,100.0,49.873418,82.843137,329300,858,0.285714,92.090669