In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib as mpl 
import matplotlib.pyplot as plt 
%matplotlib inline
# 한글폰트 사용
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)

import warnings
warnings.filterwarnings("ignore")

from fbprophet import Prophet
from datetime import datetime
import pandas_datareader as pdr

In [2]:
pinkwink_web = pd.read_excel('./static/data/상장회사.xlsx')
del pinkwink_web['번호']
pinkwink_web.head()

,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소
0,60310,3S,32902,특수 목적용 기계 제조업,"44,802,511","22,401,255,500",500,원(KRW),02-896-9474,서울특별시 금천구 시흥대로71길 30-1
1,95570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)"
2,6840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -
3,54620,APS홀딩스,116409,기타 금융업,"20,394,221","10,197,110,500",500,원(KRW),031-776-1800,경기도 화성시 동탄면 동탄산단9길 23-12 (동탄면)
4,265520,AP시스템,32902,특수 목적용 기계 제조업,"14,480,227","7,240,113,500",500,원(KRW),031-379-2700,경기도 화성시 동탄면 동탄산단8길 15-5 &nbsp

In [3]:
pinkwink_web.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목코드      2404 non-null   int64
 1   기업명       2404 non-null   object
 2   업종코드      2404 non-null   int64
 3   업종        2404 non-null   object
 4   상장주식수(주)  2404 non-null   object
 5   자본금(원)    2404 non-null   object
 6   액면가(원)    2404 non-null   object
 7   통화구분      2402 non-null   object
 8   대표전화      2385 non-null   object
 9   주소        2404 non-null   object
dtypes: int64(2), object(8)
memory usage: 187.9+ KB

In [4]:
pinkwink_web1 = pd.read_excel('./static/data/상장회사.xlsx', dtype={'종목코드': str})
del pinkwink_web1['번호']
pinkwink_web1.head()

,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소
0,060310,3S,32902,특수 목적용 기계 제조업,"44,802,511","22,401,255,500",500,원(KRW),02-896-9474,서울특별시 금천구 시흥대로71길 30-1
1,095570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)"
2,006840,AK홀딩스,116409,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -
3,054620,APS홀딩스,116409,기타 금융업,"20,394,221","10,197,110,500",500,원(KRW),031-776-1800,경기도 화성시 동탄면 동탄산단9길 23-12 (동탄면)
4,265520,AP시스템,32902,특수 목적용 기계 제조업,"14,480,227","7,240,113,500",500,원(KRW),031-379-2700,경기도 화성시 동탄면 동탄산단8길 15-5 &nbsp

In [5]:
pinkwink_web1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   종목코드      2404 non-null   object
 1   기업명       2404 non-null   object
 2   업종코드      2404 non-null   int64
 3   업종        2404 non-null   object
 4   상장주식수(주)  2404 non-null   object
 5   자본금(원)    2404 non-null   object
 6   액면가(원)    2404 non-null   object
 7   통화구분      2402 non-null   object
 8   대표전화      2385 non-null   object
 9   주소        2404 non-null   object
dtypes: int64(1), object(9)
memory usage: 187.9+ KB

In [6]:
pinkwink_da1 = pinkwink_web1[['종목코드', '기업명']]
pinkwink_da1.head()

     종목코드     기업명
0  060310      3S
1  095570  AJ네트웍스
2  006840   AK홀딩스
3  054620  APS홀딩스
4  265520   AP시스템